body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.avatar-image {
    border-radius: 50%;
    width: 125x;
    height: 125px;
}

.bio {
    padding-bottom: 20px;
}

#members {
    padding-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}